
header .logo {
    margin: 0;
    margin-left: 5%;
}

#contact_modal {
    display: none;
}

main .photograph-header {
    background-color: #FAFAFA;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .photograph-header .photographerNameAndCity {
    order: -1;
}

main .photograph-header .photographerName {
    margin: 0;
    color: #DB8876;
    text-overflow: ellipsis;
}

main .photograph-header .photographerCity {
    margin: 0;
    color:#901C1C;
    font-weight: bold;
    text-overflow: ellipsis;
    padding-bottom: 0.9rem;
}

main .photograph-header .quoting {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: lightgrey;
    font-weight: bold;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

main .photograph-header .photographerPicture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    /* display: none; */

}


.photograph-photos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 3%;
}

.photograph-photos article {
    width: 100%;
    height: 200px;
    /* utilisation de Flexbox pour espacer visuellement la description 'alt' et le texte
    de la photo en cas de 404 sur la GET photo */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photograph-photos img, .photograph-photos video {
    height: 100%;
    width: 100%;
    
}

.photograph-photos img {
    object-fit: cover;
}

.titleAndLikes {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
}

.titleAndLikes .title {
    font-size: 1rem;
}

.titleAndLikes .likes {
    margin: 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


.likesAndPriceBanner {
    height: 2rem;
    width: 10rem;
    position: fixed;
    bottom: 0;
    right: 5%;
    background-color: #DB8876;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius : 5px;
    
}