.no-scroll {
    height: 80vh;
    overflow: hidden;
 }



/* 
document.querySelector("#main > div.photograph-photos > article:nth-child(1) > img")
#main > div.photograph-photos > article:nth-child(9) > div.divArticleVideo
*/

/* .htmlImage {
    display: none;
} */

.htmlVideo {
    display: block;
    width: 100%;
    max-height: 100%;
}

 div.photograph-photos article {
    cursor: pointer;
 }

.divArticleVideo {
    position: relative;
    width: 100%;
    height: 100%;
}

#video {
    opacity: 0.5;
}
 
div.divArticleVideo img.iconeLectureVideo {
    position: absolute;
    object-fit: contain;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.9);
    z-index: 9;
}

.lightbox__next,
.lightbox__prev {
    border: none;
    background: url(../assets/icons/right.svg) center center / 3rem 3rem no-repeat;
    width: 5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

.lightbox__prev {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}

.lightbox__close {
    height: 5rem;
    width: 5rem;
    border: none;
    background: url(../assets/icons/closeLightbox.svg) center center / 2.5rem 2.5rem no-repeat;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 12;

}

#lightbox button {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s;
    /* cacher le texte des boutons */
    text-indent: -3000px;

}

#lightbox button:hover, #lightbox button:active {
    opacity: 0.5;
}

/* ***
changement de stratégie sur title : le passer en enfant de lightbow__container pour assurer sa 
visibilité V hauteur image VS l'avoir en child de lightbox  */
/* .lightbox__title {
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    border: none;
    z-index: 11;
    padding-left: 5rem;
} */

 .lightbox__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 5rem;
    width: calc(100% - 10rem);
    min-height: 100vh;
    z-index: 10;
 }

div.lightbox__container > img {
    max-height: 90vh;
    max-width: 100%;
    object-fit: contain;
}


header .logo {
    margin: 0;
    margin-left: 5%;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}


main .photograph-header {
    background-color: #FAFAFA;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .photograph-header .photographerNameAndCity {
    order: -1;
}

main .photograph-header .photographerName {
    margin: 0;
    color: #DB8876;
    text-overflow: ellipsis;
    font-size: 2.5rem;
    /* réinitialisation des margin block/inline  */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main .photograph-header .photographerCity {
    margin: 0;
    color:#901C1C;
    font-weight: bold;
    text-overflow: ellipsis;
    padding-bottom: 0.9rem;
}

main .photograph-header .quoting {
    color: lightgrey;
    font-weight: bold;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

main .photograph-header .photographerPicture {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 50%;
    /* display: none; */

}


.photograph-photos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 3%;

}

.photograph-photos article {
    width: 100%;
    height: 300px;
    /* utilisation de Flexbox pour espacer visuellement la description 'alt' et le texte
    de la photo en cas de 404 sur la GET photo */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photograph-photos img, .photograph-photos video {
    height: 100%;
    width: 100%;
    
}

.photograph-photos img {
    object-fit: cover;
    overflow: hidden;
}

.titleAndLikes {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
}

.titleAndLikes .title {
    font-size: 1rem;
}

.titleAndLikes .likes {
    margin: 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 5%;
    width: 50%;
    left: 25%;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    height: 1.5rem;
    cursor: pointer;
}

.modal header h2 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 1rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    padding-left: 0.5rem;
}

form span {
    display: none;
}

form input #messenger {
    height: 140px;
}

.likesAndPriceBanner {
    height: 2rem;
    width: 10rem;
    position: fixed;
    bottom: 0;
    right: 5%;
    background-color: #DB8876;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius : 5px;
    
}

#tri {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 5%;
}

#tri p{
    font-weight: bold;
    margin-right: 5px;   
    padding: 16px;
    height: 30px;
}

#tri ul {
    list-style: none;
    font-weight: bold;
    color: white;
    padding: 6px;
    background-color: #901C1C;
    border: none;
    padding: 8px;
    border-radius: 5px;
    
}

ul li {
    padding: 10px;
    cursor: pointer;
    background-color: #901C1C;
    border: none;
    border-top: 1px white solid;
    

}

#menu-deroulant > li:nth-child(1) {
    border-top: none;
}

#tri-dates {
    display: none;
}

/* #tri-dates { 
    visibility: hidden;
    transition: visibility 300ms ease-in-out;
}

#tri-likes:hover #tri-dates {
    visibility: visible;
} */