@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 3%;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    font-size: 2rem;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h2 {
    color: #D3573C;
}

h3 {
    font-size: 1.2rem;
    font-weight:100;
}

h4 {
    font-size: 0.8rem;
    font-weight: bold;
}

h5 {
    font-size: 0.7rem;
    font-weight: lighter;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}